*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Inria Sans', sans-serif;
}

header{
    position: sticky;
    top: 0;
    z-index: 1000;
}
nav{
    background: white;
    height: 80px;
    width: 100%;
}

nav li{
    float: left;
    margin-right: 20px;
}
nav li h3{
    color: #8CBA2F;
    font-weight: 900;
    padding: 0px 30px;
    border-radius: 3px;
    text-transform: capitalize;
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a{
    color: #000000;
    font-weight: 700;
    padding: 7px 13px;
    border-radius: 10px;
    text-transform: capitalize;
}

li a:hover{
    background: #fff;
    transition: 500ms;
    color: greenyellow;
}

section.banner{
    background: linear-gradient(to bottom, #8CBA2F, #8CBA2F, #fff);
    padding: 5rem 0;
}

h1{
    color:#8CBA2F;
    text-align: center;
    font-size: 40px;
    margin-top: 25px;
    margin-bottom: 15px;
    font-weight: bolder;
}

h2{
    color: black;
    text-align: center;
    font-size: 28px;
}

.contenido{
    text-align: center;
}
.contenido p{
    color: black;
    font-size: 20px;
    margin-left: 180px;
    margin-right: 180px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.imagen1{
    width: 10%;
    margin-bottom: 18px;
}

.imagen2{
    width: 20%;
}

.contenedor{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(5rem, 1.5fr));
}

h2{
    color: black;
    font-size: 25px;
}

h4{
    color: black;
    font-size: 35px;
}
/*Pie de Pagina - Footer*/
footer{
    background-color: #333;
    color: #fff;
    padding: 20px;
    margin-top: 50px;
    text-align: center;
}
